<body>
  <div>Login</div>
  <form [formGroup]="loginForm" (ngSubmit)="submitForm()">
    <div>
      <label>Phone Number:
        <input formControlName="phoneNumber">
      </label>
    </div>
    <div>
      <label>Password:
        <input formControlName="password">
      </label>
    </div>
    <div>
      <button type="submit" [disabled]="loginForm.invalid">Submit</button>
    </div>
  </form>
  <div>
    <p>Don't have an account?</p>
    <a routerLink="/register">Register</a>
  </div>
</body>