<body>
  <div *ngIf="isLoading">Loading...</div>
  <div *ngIf="error">{{error}}</div>

  <ul *ngIf="cars.length" class="car-list">
    <li *ngFor="let car of cars" class="car-list-element">
      <div>
        <p>Model: {{car.make}} </p>
        <p>Production year: {{car.productionYear}}</p>
        <p>Price per day: {{car.rentPerDay}}</p>
        <p>Available: {{car.isAvailable}}</p>
        <a *ngIf="car.isAvailable" [routerLink]="['/rent', car.id]">Rent</a>
      </div>
    </li>
  </ul>
</body>