.car-list {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
}

.car-list-element {
  padding: 5px;
  margin: 5px;
  height: 230px
}

.rent-button {
  margin: auto 0;
}

.actions {
  justify-content: center;
}